<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuxingwei.spring.boot.mapper.DirectUserMapper">
    <select id="selectAll" resultType="cn.liuxingwei.spring.boot.model.DirectUser">
        SELECT
          id id,
          time time,
          user_id userId,
          spreader_id spreaderId,
          total_invest totalInvest,
          first_total_rebate firstTotalRebate,
          second_total_rebate secondTotalRebate
        FROM
          t_direct_user directUser
    </select>
</mapper>